@import '../../../node_modules/qalqa-stylesheet/main.css';
@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/primeflex/primeflex.css';

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

.user-invalid {
  -webkit-box-shadow: 0 0px 10px var(--error);
  box-shadow: 0 0px 10px var(--error);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled:hover {
  box-shadow: none;
  text-shadow: none;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
